@tailwind base;
@tailwind components;
@tailwind utilities;

/* --------------------------
   Local Font Setup
   -------------------------- */

/* Clash Display */
@font-face {
  font-family: 'Clash Display';
  src: url('./assets/fonts/ClashDisplay-Extralight.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('./assets/fonts/ClashDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('./assets/fonts/ClashDisplay-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('./assets/fonts/ClashDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

/* Satoshi */
@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/Satoshi-Medium.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/Satoshi-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

/* Apply Satoshi globally */
body {
  font-family: 'Satoshi', sans-serif;
}
h1,h2,h3 {
  font-family: 'Clash Display', sans-serif;
}
body {
  font-family: 'Satoshi', sans-serif;
}

.scroll-bar-none{
  display: none;
}